#container{
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}


#addgame{
    display: flex;
    flex-direction: column;
    width: 40%;
    
}

#addgame input{
    font-size: 18px;
    padding: 5px;
    margin: 8px 0px;
}

#addgame textarea{
    font-size: 18px;
    padding: 5px;
    margin: 8px 0px;
}